<a href="https://colab.research.google.com/github/ithapa1/data-visualization/blob/main/ExamQuestion12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Exam1 Review Question ##

NOw, I am going to import the libraries required to do the review question.

In [ ]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

Here, I am going to import the data from the london fire brigade.

In [ ]:
%%bigquery --project data-visualization-338803
SELECT 
  COUNT(*) as total_rows
FROM `bigquery-public-data.london_fire_brigade.fire_brigade_service_calls`

   total_rows
0       32247

In [ ]:
%%bigquery --project data-visualization-338803
SELECT*
FROM `bigquery-public-data.london_fire_brigade.fire_brigade_service_calls`
limit 10

   incident_number  ... num_pumps_attending
0  000320-01012017  ...                   2
1  003727-09012017  ...                   2
2  003762-09012017  ...                   2
3  006403-16012017  ...                   2
4  010947-26012017  ...                   1
5  014169-03022017  ...                   5
6  016263-08022017  ...                   2
7  016865-09022017  ...                   1
8  017092-10022017  ...                   1
9  024609-27022017  ...                   1

[10 rows x 32 columns]

Now, lets count the number of late night false alarms in between 10pm to 5am of the next day

In [ ]:
%%bigquery --project data-visualization-338803
SELECT  COUNT(*) as number_of_late_night_false_alarms
FROM `bigquery-public-data.london_fire_brigade.fire_brigade_service_calls`
WHERE incident_group = "False Alarm" AND (hour_of_call >= 22 OR hour_of_call <= 4)

   number_of_late_night_false_alarms
0                               2825

Here, I am going to find out the average number of pumps attending in the london fire brigade.

In [ ]:
%%bigquery --project data-visualization-338803
SELECT  incident_group, AVG(num_pumps_attending) as avg_pumps_attending
FROM `bigquery-public-data.london_fire_brigade.fire_brigade_service_calls`
GROUP BY incident_group

    incident_group  avg_pumps_attending
0      False Alarm             1.725776
1             Fire             1.633012
2  Special Service             1.177192

Now, I am going to figure out the maximum that is largest number of pumps of the london fire brigade service calls.

In [ ]:
%%bigquery --project data-visualization-338803
SELECT  incident_group, MAX(num_pumps_attending) as Max_pumps_attending
FROM `bigquery-public-data.london_fire_brigade.fire_brigade_service_calls`
GROUP BY incident_group

    incident_group  Max_pumps_attending
0      False Alarm                    7
1             Fire                    7
2  Special Service                    6